@{
    ViewBag.Title = "Page not found";
}

<div>
    <br />
    <h4 class="alert-danger"> @ViewBag.ErrorMessage</h4>
    <hr />
    <br />
    <a class="btn btn-outline-success" style="width:auto" asp-controller="Home" asp-action="Index">
        <b>please click here go test website</b>
    </a>
</div>
